<!DOCTYPE html>
<html>
head
    title Img-Conspect
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script.
        function click() {
            if (this.src.includes('untouched')) {
                this.src = this.src.replace('scans.untouched/', 'scans/');
            } else {
                this.src = this.src.replace('scans/', 'scans.untouched/');
            }
        }
        $( document ).ready(function() {
            $("img").each(function(){$(this).click(click);console.log(this);});
        });
        
body
    -Number.prototype.pad = function(size) {
        -var s = String(this);
        -while (s.length < (size || 2)) {s = "0" + s;}
        -return s;
    -}
    h1 Классическое исчисление высказываний.
        -for(var i = 1; i <= 5; ++i) {
            img(style="width:100%;", src=sources_rel + "../static/scans/out" + i.pad(2) + ".jpg")
            br
        -}
    h1 Интуиционистское исчисление высказываний.
        -for(var i = 6; i <= 9; ++i) {
            img(style="width:100%;", src=sources_rel + "../static/scans/out" + i.pad(2) + ".jpg")
            br
        -}
    h1 Исчисление предикатов.
        -for(var i = 10; i <= 15; ++i) {
            img(style="width:100%;", src=sources_rel + "../static/scans/out" + i.pad(2) + ".jpg")
            br
        -}
    h1 Аксиоматика пеано и формальная арифметика. Рекурсивные функции.
        -for(var i = 16; i <= 25; ++i) {
            img(style="width:100%;", src=sources_rel + "../static/scans/out" + i.pad(2) + ".jpg")
            br
        -}
    h1 Теория множеств.
        -for(var i = 26; i <= 28; ++i) {
            img(style="width:100%;", src=sources_rel + "../static/scans/out" + i.pad(2) + ".jpg")
            br
        -}
</html>