<!DOCTYPE html>
<meta charset="UTF-8">
<html>
head
    title Matlog-Express
    include ../util/mathjax.pug
    link(rel="stylesheet", href=sources_rel + "../static/global.css")
body.md
    h2 Топология
    ul
        li
            | __топологическое пространство__
            | — упорядоченная пара $\langle X, \Omega\rangle$,
            | где $X$(носитель) — множество,
            | а $\Omega$(топология) — множество каких-то его подмножеств + аксиомы:
            ul
            li
                | $\varnothing \in \Omega, X \in \Omega$ (пустое множество и всё пространство открыты)
            li
                | Если $\{A_i\}$, $A_i \in \Omega$ — некоторое семейство элементов $\Omega$,
                | то $\bigcup_i A_i \in \Omega$ (объединение произвольного семейства открытых множеств открыто);
            li
                | Если $A_1, A_2, \dots, A_n$, $A_i \in \Omega$ — конечное множество открытых множеств,
                | то его пересечение также открыто: $A_1 \cap A_2 \cap \dots \cap A_n \in \Omega$
        li
            | открытое и замкнутое множество
            br
            |   __Открытое множество__ — множество из $\Omega$.
            br
            |   __Замкнутое множество__ — мн-во, дополнение которого открыто.
        li
            | внутренность и замыкание множества
            br
            |   внутренность $A$ — максимальное открытое множество $A^\circ$, входящее в $A$
            br
            |   замыкане $A$ — минимальное замкнутое множество $\overline A$, содержащее $A$
        li
            | топология стрелки
            | $X=\mathbb R, \Omega = \{(x,+\infty)|x\in \mathbb R\} \cup \{\emptyset\}$
        li
            | дискретная топология
            | $X \neq \emptyset, \Omega = 2^X $
        li топология на частично упорядоченном множестве
        li
            | индуцированная топология на подпространстве
            br
            | Пусть лано какое-то $S \subseteq X$. Индуцированная топология на подпространстве $X$ — $\Omega' = \left\{ y \cap X | y \in \Omega \right\}$
        li
            | связность(???)
            | : связное пространство — пространство такое, что его нельзя разбить на два непустых непересек. открытых подмножества
    h2 Исчисление высказываний
    ul
        li высказывание — Строка в некотором алфавите, строящаяся по следующим правилам:
            pre.
                высказывание :=
                    {пропозициональная переменная}  |
                    (высказывание |  высказывание)  |
                    (высказывание &  высказывание)  |
                    (высказывание -> высказывание)              
            br
            |   A,B,C … — пропозициональные переменные
            br
            |   X,Y,Z … — метапеременные для переменных
        li метапеременные — "Placeholder" for variables
        li пропозициональные переменные — символы, обозначающие высказывания
        li аксиома — высказывание
        li схема аксиом — шаблон для генерации аксиом
            br
            img(style="width:300px;" src=sources_rel + "../static/axioms.png")
            br 
            | Интуиционисты меняют посленюю аксиому на a -> !a -> b
        li __правило Modus Ponens__ — Если доказано $\alpha$ и $\alpha \rightarrow \beta$, то считаем доказанным $\beta$
        li __доказательство__ — последовательность высказываний, каждое из которых либо
            | аксиома, либо Modus Ponens.
        li __вывод из гипотез__
            br
            |   $\alpha$ выводимо из $\Gamma$, где $\Gamma$ — список высказываний, если существует вывод,
            |   то есть последовательность высказываний такая,
            |   что каждое из них либо аксиома, либо из $\Gamma$, либо получается по M. P.
        li __доказуемость__ ($\vdash$)
            br
            |   Высказывание $\alpha$ доказуемо, если существует доказательство $\alpha_1 \ldots \alpha_k$,
            |   где $\alpha_k = \alpha$.
        li множество истинностных значений
        li модель (оценка переменных)
        li __оценка высказывания__ — Отображение: формула $\rightarrow$ множество истинностных значений
        li __общезначимость__ ($\models$) — истинность при любой оценке
        li __выполнимость__: существует оценка, при которой формула выполнена
        li __невыполнимость__: нет такой оценки, что см выше
        li __следование__: формула X следует
            |  из $G_1 \ldots G_n$, если в любой оценке, в которой истинны $G_1 \ldots G_n$ истинна и $X$.
        li __корректность__ — доказуемость $\implies$ общезначимость
        li __полнота__ — общезначимость $\implies$ доказуемость
        li __противоречивость__ &mdash; когда выводится любая формула
        li формулировка __теоремы о дедукции__ $\Gamma \vdash \alpha \rightarrow \beta \iff \Gamma, \alpha \vdash \beta$
    h2 Интуиционистское исчисление высказываний
    p (заменили аксиому снятия двойного отрицания на $\alpha \rightarrow \neg \alpha \rightarrow \beta$)
    ul
        li закон __исключённого третьего__ $\alpha \vee \neg \alpha$
        li закон __снятия двойного отрицания__ $\neg \neg \alpha \rightarrow \alpha$
        li закон __Пирса__ $((\alpha \rightarrow \beta) \rightarrow \alpha) \rightarrow \alpha$
        li Все эти законы не выводятся в ИИВ
        li
            | __BHK__-интерпретация логических связок
            br
            |   $\alpha \& \beta$, если есть доказательство $\alpha$ и $\beta$
            br
            |   $\alpha \vee \beta$, если есть доказательство $\alpha$ или $\beta$ и мы знаем, чего именно
            br
            |   $\alpha \rightarrow \beta$, если мы умеем строить доказательство $\beta$ из доказательства $\alpha$
            br
            |   $\neg \alpha$, если из $\alpha$ можно построить противоречие ($\alpha \rightarrow \perp$)
        li **Теорема** __Гливенко__ (формулировка) Если $\vdash_{\text{к}} \alpha$, то $\vdash_{\text{и}} \neg \neg \alpha$
        li __решётка__
            br
            |   $\langle A, \leq \rangle$ — решётка, если:
            ul
                li
                    | $\forall a,b \in A: \quad \exists \text{наименьший } c = a + b : a \leq c, b \leq c $
                li
                    | $\forall a,b \in A: \quad \exists \text{наибольший } c = a \cdot b : c \leq a, c \leq b $
        li __дистрибутивная решётка__
            br
            |   решётка + свойство: $a+(b \cdot c) = (a + b) \cdot (a + c)$
            br
            |   лемма: $a\cdot(b+c) = a\cdot b + a \cdot c$
            br
            |   **Теорема**: решётка дистрибутивна $\iff$ не содержит ни диаманта ни пентагона
        li импликативная решётка
            br
            |   дистрибутивная решётка + определена операция псевдодополнения (относительно $b$):
            |       $c = a \rightarrow b = max \{ x | x \cdot a \leq b \}$
            br
            |   **Теорема**: дистрибутивность в определении можно опустить
            br
            |   def: 1 — наибольший элемент решётки
            br
            |   def: 0 — наименьший элемент решётки
        li __алгебра Гейтинга__ — Импликативная решётка с 0
            br
            |   def: псевдодополнение $~a = a \rightarrow 0$
            br
            | Всякая алгебра Гейтинга — модель ИИВ
        li __булева алгебра__ — алгебрa Гейтинга такая, что $\forall a: a + \neg a = 1$
        li __Гёделева алгебра__
            br
            |   Алгебра Гейтинга гёделева, если $\forall a,b : (a+b=1 \implies a=1 | b=1)$
        li __операция Γ(A)__
            | Добавим к алгебре Гейтинга новую “1”, большую всех элементов, а старую переименуем в “$\omega$”.
        li __алгебра Линденбаума__  Пусть $\alpha$, $\beta$ — формулы, $\alpha \leq \beta$, если $\beta\vdash\alpha$,
            | $\alpha \approx \beta$, если $\alpha \leq \beta \& \beta \leq \alpha $
            br
            |   Тогда, алгебра Линденбаума — $\text{ИИВ}/_{\approx}$ [факторизация по операции $\approx$]
            br
            b теорема
            | : Алгебра Линденбаума — точная модель ИИВ. Но нифига не конечная.
            br
            b теорема
            | : Алгебра Линденбаума — Гёделева
        li формулировка свойства __дизъюнктивности и.и.в__ — $\vdash \alpha \vee \beta \implies \vdash \alpha \text{ или } \vdash \beta$
        li Определить модель, значит задать логические связки и истинностные значения
        li __Модель корректна__, если любое доказуемое утверждение в ней истинно
        li __Модель полна__, если любое истинное в ней утверждение доказуемо
        li __Модель точная__, она корректна и полна
        li Исчисление называют __табличным__, если существует конечная точная модель этого исчисления
        li формулировка свойства __нетабличности и.и.в.__: ИИВ не таблично (см выше)
    //h2 Модели Крипке
    //ul
    //    li
    //        p.
    //            Введём ациклический орграф с вершинами $W_1 \ldots W_k$. Эти вершины будем называть __мирами__.
    //        p.
    //            $W_i$ и $W_j$ находятся в __отношении__ $\pce$, если в графе существует путь $W_i \to W_j$. 
    //            Заметим, что отношение рефлексивно.
    //        p.
    //            Введём отношение __вынужденности__ между мирами и переменными. Если переменная $A_k$ вынуждена 
    //            в мире $W_i$, будем писать $W_i \Vdash A_k$. Потребуем, чтобы если $W_i \Vdash A_k$ и $W_i \pce W_j$, то $W_j \Vdash A_k$.
    //        p Расширим отношение вынужденности.
    //            ul
    //                li Если $W_i \Vdash \alpha$ и $W_i \Vdash \beta$, то $W_i \Vdash \alpha \& \beta$
    //                li Если $W_i \Vdash \alpha$ или $W_i \Vdash \beta$, то $W_i \Vdash \alpha\vee\beta$
    //                li Если в любом мире $W_k: W_i \preceq W_k$ выполнено, что из $W_k \Vdash \alpha$ следует $W_k \Vdash \beta$, 
    //                    | то $W_i \Vdash \alpha\rightarrow\beta$
    //                li Если ни в каком мире $W_k: W_i \preceq W_k$ не выполнено $\alpha$, то $W_i \Vdash \neg\alpha$.
    //        p **Замечание:** Задать модель Крипке &mdash; задать орграф на $W_i$ и для каждого $W_i$ множество вынужденных переменных в нём.
    //    li **Лемма** о __монотонности__: В каждом следующем мире вынуждены все формулы, которые были вынуждены в предыдущих.
    //    li **Теорема** о __корректности ИИВ относительно моделей Крипке__: Если формула выводима в ИИВ, то она истина во 
    //        | всех мирах всех моделей Крипке.
    //    li Переформулируем теорему выше: чтобы __опровергнуть формулу в ИИВ__ достаточно предъявить модель Крипке, в одном из миров 
    //        | которой формула не вынуждена.
    h2 Исчисление предикатов
    ul
        li предикатные и функциональные символы, константы и пропозициональные переменные
        li свободные и связанные вхождения предметных переменных в формулу
        li свобода для подстановки
        pre.
            D предметное множество
            V множество истинностынх значений            
            ФУНКЦИЯ  : D             -> D
            ПРЕДИКАТ : D             -> V            
            Предметная переменная      a, b, c, x, y, z, a₀, a' …
            Терм                       θ₀, θ₁ …
            Предикатный символ         P
            Формула                    α, ψ, φ            
            ТЕРМ =
                    (предметная переменная) |
                    (функциональный символ) (ТЕРМ₀, ТЕРМ₁, …)
            ФОРМУЛА =
                    (ФОРМУЛА |  ФОРМУЛА) |
                    (ФОРМУЛА &  ФОРМУЛА) |
                    (ФОРМУЛА -> ФОРМУЛА) |
                    (!ФОРМУЛА) |
                    (∀ предметная переменная.ФОРМУЛА) |
                    (∃ предметная переменная.ФОРМУЛА) |
                    (предикатный символ)(ТЕРМ₀, ТЕРМ₁, …)            
            Связанное вхождение — вхождение в области действия квантора.
            Связывающее вхождение — вхождение непосредственно рядом с квантором.
            Ex: (∀x. … x …) первое вхождение — связывающее, второе вхождение — связанное.
            Не связанные и не связывающие вхождения — свободные.
            Терм θ свободен для подстановки в формулу ψ вместо x, если после подстановки θ вместо свободных вхождений x, θ не станет связанным.
                        
        li два правила для кванторов
            br
            |   $\newenvironment{rcases}{\left.\begin{array}}{\end{array}\right\rbrace}$
            |   \(\begin{rcases}{l}2. \dfrac{\psi \rightarrow \phi}{\psi \rightarrow \forall x.\phi} \\3. \dfrac{\phi \rightarrow \psi}{(\exists x.\phi) \rightarrow \psi} \end{rcases}\)
            |   , где $x$ не входит свободно в $\psi$
        li две аксиомы для кванторов
            br
            |   \(\begin{rcases}{l}11. (\forall x.\phi) \rightarrow \phi [x:=\Theta]\\12. \phi [x:=\Theta] \rightarrow \exists x.\phi\end{rcases}\)
            |   , где $\Theta$ свободна для подстановки вместо $x$ в $\phi$
        li оценки и модели в исчислении предикатов
            br
            |     Чтобы оценить значение формулы в ИП, нужно задать кортеж $\left\langle D,E,P,R \right\rangle$, где:
            br
            ul
                li $D$ — предметное множество
                li $E$ — оценка для функциональных символов $(D^n\rightarrow D)$
                li $P$ — оценка для предикатов $D^n \rightarrow V$
                li $R$ — свободные предметные переменные
            |   Будем говотить, что $\Gamma \models \alpha$, если при любом $D$ и при любых оценках таких, что $[\![\gamma_i]\!] = \text{И}$, 
            |   имеет место $[\![\alpha]\!]=\text{И}$
        li **Теорема** __о дедукции__ для И. П.
            br
            ul
                li
                    | $\Gamma, \alpha \vdash \beta$, в доказательстве нет применений правил для кванторов по свободным переменным из $\alpha$, то $\Gamma \vdash \alpha \rightarrow \beta$
                li
                    | $\Gamma \vdash \alpha \rightarrow \beta \implies \Gamma, \alpha \vdash \beta$
        li
            b лемма
            | : $[\![\psi]\!]^{x:=[\![\theta]\!]}=[\![\psi[x:=[\![\theta]\!]]]\!]$, если $\theta$ свободна для подстановки вместо $x$
        li
            | **Теорема** __о корректности__ для И. П.: 
            | Если $\Gamma \vdash \alpha$ и в доказательстве нет применений правил для $\forall, \exists$ по свободным переменным из $\Gamma$, 
            | то $\Gamma \models \alpha$
        li Теорема Гёделя о полноте ИП.
            ul
                li
                    | Множество $\Gamma$ 
                    b непротиворечиво
                    | , если нет $\alpha$ такого, что $\Gamma \vdash \alpha$ и $\Gamma \vdash \neg \alpha$
                    br
                li
                    | Формула 
                    b замкнута
                    | , если она не содержит свободных переменных
                    br
                li
                    | Формула 
                    b бескванторна
                    | , если она не содержит кванторов
                    br
                li
                    | __полное непротиворечивое множество **(бескванторных)** формул__ —
                    | непротиворечивое множество **(бескванторных)** формул + св-во: $\forall \alpha: \quad \alpha \in \Gamma | \neg \alpha \in \Gamma$
                    br
                li __модель__ для формулы — $\left \langle D, E, P \right \rangle$
                    br
                li __модель непротиворечивого множества формул__ — такие оценки предикатов и функциональных символов, что
                    | каждая из формул данного множеста истинна.
                li $\alpha$ __следует__ из $\Gamma$ ($\Gamma \models \alpha$), если $[\![\alpha]\!]=\text{И}$ в любой модели множества $\Gamma$.
                li **Лемма**: $\Gamma$ непротиворечивое множетсво **(бескванторных)** замкнутых формул. $\alpha$ &mdash; 
                    | **(бескванторная)** замкнутая формула. Тогда, либо $\Gamma \cup \{\alpha\}$, либо $\Gamma \cup \{\neg\alpha\}$ &mdash; 
                    | непротиворечивое множетсво **(бескванторных)** замкнутых формул.
                li **Лемма**: Любое множество непротиворечивых формул $\Gamma$ можно дополнить до полного **(бескванторного)** множества.
                li
                    | теорма Гёделя о полноте исчисления предикатов (формулировка)
                    br
                    b лемма
                    | : Для любой формулы ИП найдётся эквив. ей ф-ла с поверхностными кванторами
                    br
                    b теорема
                    | : $\Gamma$ — непротиворечивое множество формул ИП. Тогда, существует модель для $\Gamma$
                    br
                li
                    | следствие из теоремы Гёделя о исчислении предикатов: если формула общезначима, то она выводима
    h2 Выразимость и представимость арифметических отношений в ФА.
    ul
        li __арифметическая функция__ функция $N^n \to N$
        li __арифметическое отношение__ $n$-арное отношение на $N$
        li $n-арное$ арифметическое отношение $R$ __выразимо__ (в ФА), если существует формула $\rho$ с $n$ свободными переменными 
            | $x_1 \ldots x_n$, такая, что
            ol
                li если $(k_1 \ldots k_n) \in R$, то $\vdash \rho (\overline k_1 \ldots \overline k_n)$
                li если $(k_1 \ldots k_n) \notin R$, то $\vdash \neg \rho (\overline k_1 \ldots \overline k_n)$
        li объявим макроподстановку: 
            | $\exists ! y. \phi(y) \equiv \exists y. \phi(y) \& \forall a . \forall b. (\phi(a) \& \phi(b) \to a = b)$
        li Арифметическая функция $f$ от $n$ аргументов называется __представимой__, если сужествует такая формула $\phi(k_1 \ldots k_n, t)$ 
            | , что:
            ol
                li Если $f(k_1 \ldots k_n) = t$, то $\vdash \phi(\overline k_1 \ldots \overline k_n, \overline t)$
                li Для любых $k_1 \ldots k_n$: $\vdash \exists ! p. \phi(\overline k_1 \ldots \overline k_n, p)$
        li Научимся __представлять__ в ФА **рекурсивные функции**.
            ol
                li $Z$ представима в ФА: $\phi(x,t) := (x=x)\&(t=0)$
                li $N$ представима в ФА: $\nu(x,t) := (x'=t)$
                li $U^n_p$ представима в ФА: $u(x_1 \ldots x_n, t) = (x_1 = x_1) \& \ldots \& (x_p = t) \& \ldots \& (x_n = x_n)$
                li $S\langle f, g_1\ldots g_k\rangle(x_1 \ldots x_n)$ представима в ФА.
                    p Все шаблонные параметры представимы: $f \to \phi$, $g_i \to \gamma_i$.
                    p $\rho(x_1 \ldots x_n, t) = \exists t_1. \ldots \exists t_k. \gamma_1(x_1 \ldots x_n, t_1) \& \gamma_p(x_1 \ldots x_n, t_k) \&
                        | \gamma(t_1 \ldots t_k, t)$
                li $R\langle F,G\rangle$ представима в ФА.
                    p __$\beta$-функция Гёделя__ $\beta(b,c,i) = b \% (1 + c(1+i))$
                    p **Лемма** $\beta$ представима в ФА
                    p **Лемма** Для любой последовательности $x_1\ldots x_n$ можно подобрать $b, c$ такие, что $\beta(b,c,i) = x_i$
                    p
                        | $R\langle F,G\rangle\left(x_{1}, \ldots x_{n+1}, a\right) 
                        | :=\exists b \exists c\left(\exists k\left(B(b, c, 0, k) \& F\left(x_{1}, \ldots x_{n}, k\right)\right)\right.$
                        | $\& B\left(b, c, x_{n+1}, a\right)$
                        | $\& \forall k\left(k&lt;x_{n+1} \rightarrow \exists d \exists e\left(B(b, c, k, d) \& B\left(b, c, k^{\prime}, e\right) \& G\left(x_{1}, \ldots x_{n}, k, d, e\right)\right)\right) )$
                li $M\langle F \rangle(x_1 \ldots x_n)$ представима в ФА: 
                    | $M\left(x_{1}, \ldots x_{n}, y\right) :=
                    | F\left(x_{1}, \ldots x_{n}, y, 0\right) \&
                    | \forall z\left(z&lt;y \rightarrow \neg F\left(x_{1}, \ldots x_{n}, z, 0\right)\right)$
    h2 Арифметизация доказательств
    ul
        li __Гёделева нумерация__ &mdash; способ закодировать строку числом или список строк числом. 
            | Каждому символу алфавита сопоставляется нечётное число $\leqslant 3$. Теперь, имея строку $s = c_1 c_2 \ldots c_n$, 
            | $\newcommand{\bra}[1]{\text{&#x231c;} \! {#1}\! \text{&#x231d;}}$
            | посчитаем её гёделев номер: $p_1^{\bra {c_1}} \cdot \ldots \cdot p_n^{\bra {c_n}}$, где $p_i$ - $i$-е простое число, $\bra {c_i}$ 
            | - номер символа $c_i$.
        li Будем перебирать все значения функции и все доказательства, пока не найдём пару, на которой $Proof(x,p)$ даст $1$.
            | Перебирать надо в странном порядке (ну там $2^x \cdot 3^p = n$), вытаскиваем $x,p$ через  $plog$
    h2 Теорема Гёделя о неполноте арифметики.
    ul
        li Теория __непротиворечива__, если в ней нет формулы $\alpha$ такой, что доказуемо $\alpha$ и $\neg \alpha$.
        li Теория __$\omega$-непротиворечива__, если для любой формулы (с одной свободной переменной) её верно, что если для любого 
            | натурального числа $p$ доказуемо $P(\overline p)$, то формула $\exists p . \neg P(p)$ недоказуема.
        li **Лемма**: $\omega$-непротиворечивость $\to$ непроитворечивость.
        li Обозначим за $W_1(\bra{\varphi},\bra{p})$ рекурсивную функцию, которая возвращает истину тогда и только тогда, когда $p$ есть 
            | доказательство $\varphi(\bra{\varphi})$. Понятное дело, эту функцию можно вызазить в ФА формулой $\omega_1(x,p)$.
        li Обозначим ${\color{green}\sigma(x)} \equiv \forall p. \neg \omega_1(x,p)$.
        li **Теорема** (__первая, о неполноте ФА__):
            ol
                li Если ФА непротиворечива, то недоказуемо ${\color{green}\sigma}(\bra {\color{green}\sigma})$
                li Если ФА $\omega$-непротиворечива, то недоказуемо $\neg {\color{green}\sigma}(\bra {\color{green}\sigma})$
        li Посмотрим на лемму и теорему, видим, что если ФА непротиворечива, то $\not \vdash {\color{green}\sigma}(\bra{\color{green}\sigma})$.
            | То есть формула, которая говорит, что она недоказуема недоказуема, что вполне правда, значит общезначима. 
            | Мы нашли общезначимое но не доказуемое утверждение. Всё, теория не полна.
        li Обозначим $Consis \equiv \forall p . (\neg Proof(\bra{1=0}, p))$.
        li **Теорема** (__вторая, о неполноте ФА__): Если арифметика непротиворечива, то в ней нет доказательства $Consis$.
        li Обозначим за $W_2(\bra\varphi,\bra p)$ рекурсивную функцию, которая возвращает истину тогда и только тогда, когда $p$ есть 
            | доказательство $\neg \varphi(\bra\varphi)$.
        li ${\color{red}\rho}(x) \equiv \forall p.(\omega_1(x,p)\to \exists q.(q&lt;p\&\omega_2(x,q)))$. То есть 
        li __Тероема Гёделя в форме Россера__: Если ФА непротиворечива, то в ней недоказуема как ${\color{red}\rho}(\overline {\color{red}\rho})$, так и её отрицание.
    p(style="font-size:1em;color:blue;") WARNING: Тут 'ушки' ($\bra{\ \ }$), обозначающие гёделев номер использутся не правильно.
    h2 Аксиоматика Цермело-Френкеля
    ul
        li Бинарное отношение $R$ на множестве $X$ называется отношением __частичного порядка__, если оно обладает следующими свойствами:
            ol
                li Рефлексивность
                li Антисимметричность
                li Транзитивность
        li Отношение частичного порядка $R$ на $X$ называют отношением __линейного проядка__, если для любых $x\in X, y\in X$ выполнено либо $xRy$, либо $yRx$.
        li Множество $A$ назовем __вполне упорядоченным__, если в любом его непустом подмножестве есть минимальный элемент.
        li __Аксиомы__
            ol
                li __Аксиома равенства__: Равные множества содержатся в одних и тех же множествах.
                li __Аксиома пары__: Для любых $x$, $y$ существует множество $\{x,y\}$
                li __Аксиома объединения__: Для любого непустого множества $x$ найдётся множество, 
                    | которое состоит в точности из элементов множеств, входящих в $x$
                li __Аксиома степени__: Для любого множества $x$ существует множество $2^x$, содержащее все подмножества $x$.
                li __Аксиома пустого__: существует множество $\varnothing$, которому ничего не принадлежит.
                li __Схема аксиом выделения__: Для любого множества $x$ и для любой формулы $\varphi(y)$, 
                    | найдется такое множество $b$, в которое входят те и только те элементы из $x$, на которых $\varphi(y)$ истинна. 
                    | ~~~**Замечание:**~~~ $b$ не входит свободно в $\varphi$. 
                li __Аксиома бесконечности__: Существует множество $N$ такое, что:
                    ol
                        li $\varnothing \in N$
                        li $\forall x. x\in N \to x \cup \{x\} \in N$
                    | ~~~Обозначение:~~~ $x' \stackrel{\scriptsize\text{def}}{\equiv} x \cup \{x\}$
                li __Аксиома фундирования__: В каждом множестве есть элемент, не пересекающийся с исходным множеством. 
                    | Это **костыль** для устранения ~~~парадокса брадобрея~~~.
                li __Схема аксиом подстановки__: Для любого множества $S$ и функции $f(x)$, представимой в И.П., 
                    | существует $f(S)$ &mdash; образ множества $S$
                li __Аксиома выбора__: TODO
        li $a &lt; b \stackrel{\scriptsize\text{def}}{\equiv} a \in b$.
        li Множество $x$ __транзитивно__, если $z\in y \& y\in x \to z\in x$.
        li Вполне упорядоченное транзитивное множество называют __ординалом__.
        li $x$ &mdash; __предельный ординал__, если нет $t$ такого, что $t'=x$.
        li Ординал __конечный__, если в нём нет предельных ординалов, отличных от $\varnothing$, также $\varnothing$ конечен.
        li __Первый бесконечный ординал__ $\omega=\{\varnothing, \varnothing', \varnothing'', \varnothing''', \ldots\}$. (минимальный бесконечный ординал).
        
    p 
        a(href="https://www.mccme.ru/free-books/shen/shen-logic-part2-2.pdf") Шень, Верещагин
    p 
        a(href="http://lpcs.math.msu.su/~plisko/intlog.pdf") Инт. логика
    p
        a(href="https://itmo-logic.github.io/logic-notes/notes.pdf") Конспект 2019
    p
        a(href="imgconsp.html") Мой конспект

    //p 
    //    a(href="https://github.com/shd/logic2018/blob/master/conspect.pdf") Конспект 2018
    //p 
    //    a(href="https://github.com/shd/logic2011/blob/master/conspect.pdf") Конспект 2011
